<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders Dashboard!</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-50 text-gray-800 font-sans">
  <main class="max-w-3xl mx-auto p-6">
  <header class="bg-neutral-50 text-purple-800">
    <div class=" flex items-center w-full justify-between max-w-7xl px-4 lg:px-8 py-4">
      {% comment %} <h1 class="text-4xl font-semibold tracking-wide">Desafio</h1> {% endcomment %}
      <img src="/assets/accon.webp" alt="Logo" />
      <h1 class="text-2xl font-bold">Orders Dashboard</h1>
    </div>
  </header>
    

    <ul id="orders-list" class="space-y-4">
      {% for order in orders %}
      <li class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm">
        <p><strong>Customer:</strong> {{ order.customer }}</p>
        <p><strong>Data:</strong> {{ order.createdAt | default: order.date | date: "%d/%m/%Y" }}</p>
        <p><strong>Hora:</strong> {{ order.createdAt | default: order.date | date: "%H:%M:%S" }}</p>
        <ul>
          {% for item in order.items %}
          <li><strong>Item: </strong>{{ item.name }} - Quantity: {{ item.quantity }}</li>
          {% endfor %}
        </ul>
        <p><strong>Total:</strong> {{ order.total }} {{ order.total.orderAmount.currency }}</p>
      </li>
      {% endfor %}
    </ul>
  </main>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script>
  const socket = io();

  socket.on('ordersChanged', function() {
    fetch('/dashboard/partial')
      .then(res => res.text())
      .then(html => {
        document.getElementById('orders-list').innerHTML = html;
      });
  });
</script>
</body>
</html>